.dashboard {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.header h1 {
    font-size: 2.5em;
    line-height: 1.1;
    margin: 0;
}

.content {
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .cardList {
        justify-content: flex-start;
    }
}