.dashboard {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem; 
    text-align: left;
    box-sizing: border-box;
}

.header {
    margin-bottom: 2.5rem;
}

.header h1 {
    font-size: 2.5em;
    line-height: 1.1;
    margin: 0;
}

.header p {
    font-size: 1.1em;
    color: var(--color-text);
    opacity: 0.7;
    margin: 0.25rem 0 0 0;
}

.contentLayout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 0; 
}

@media (min-width: 992px) {
    .contentLayout {
        grid-template-columns: 60% 30%;
        justify-content: space-between;
        gap: 0; 
    }

    .mainContent {
        order: 1;
    }

    .contentLayout> :nth-child(2) {
        order: 2;
        align-self: flex-start;
        position: sticky;
        top: 2rem;
        width: 100%;
    }
}
