.container {
    width: calc(45vw + 64px);
    overflow: hidden;
    height: 200px;
}

.chartContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    gap: 8px;
    transition: transform 0.6s ease-in-out;
    width: max-content;
    flex-wrap: nowrap;
}

.bar {
    background: linear-gradient(180deg, #4e8ef7, #1c3faa);
    width: 5vw;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.3s ease;
    position: relative;
    flex-shrink: 0;
}

.label {
    font-size: 0.7rem;
    color: white;
    margin-bottom: 4px;
    font-weight: bold;
}