.fieldWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.label {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--color-text);
    opacity: 0.9;
    padding-left: 0.25rem;
}

.errorMessage {
    color: #ff6b6b;
    font-size: 0.8em;
    margin-top: 0.25rem;
    padding-left: 0.25rem;
    font-weight: 500;
}