.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.asideNav {
    display: none;
}

.bottomNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-background);
    border-top: 1px solid var(--color-link-hover);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottomNav .label {
    display: none;
}

.mainContent {
    flex-grow: 1;
    padding-bottom: 80px;
}


@media (min-width: 768px) {

    .layout {
        flex-direction: row;
    }

    .asideNav {
        display: flex;
        flex-direction: column;
        width: 240px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        padding: 1.5rem;
        background-color: var(--color-button-bg);
        border-right: 1px solid var(--color-link-hover);
    }

    .asideLogo {
        font-size: 1.5em;
        padding-bottom: 2rem;
    }

    .asideLinks {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .asideNav .icon {
        font-size: 1.2em;
    }

    .asideNav .label {
        display: block;
    }

    .bottomNav {
        display: none;
    }

    .mainContent {
        padding-bottom: 0;
        flex-grow: 1;

        margin-left: 240px;
    }
}