.swatch {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--color-nav-border);
    padding: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    
    transition: all 0.2s ease;
}

.swatch:hover {
    transform: scale(1.1);
    border-color: var(--color-nav-active-bg);
}

.active {
    border-color: var(--color-link);
    box-shadow: 0 0 8px var(--color-link);
    transform: scale(1.1);
}