.navLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    z-index: 2;

    height: 50px;
    width: 50px;
    border-radius: 25px;

    color: var(--color-nav-icon-inactive);
    background-color: transparent;
    border: 1px solid transparent;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navLink .label {
    display: none;
    font-size: 0.9em;
    font-weight: 500;
}

.navLink .icon {
    font-size: 1.6em;
}

.navLinkActive {
    width: auto;
    padding: 0 1rem;
    gap: 0.5rem;
    
    color: var(--color-nav-icon-active);
    background-color: var(--color-nav-active-bg);
    box-shadow: 0 2px 8px var(--color-nav-active-shadow);
    opacity: 1;
}

.navLinkActive .label {
    display: block;
}

@media (min-width: 768px) {
    .navLink {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.75rem;
        padding: 0.75rem 1rem;
        border-radius: 10px;
        font-size: 1em;
    }

    .icon {
        font-size: 1.2em;
    }

    .label {
        display: block;
    }

    .navLinkActive {
        background-color: var(--color-link);
        color: var(--color-background);
    }
}